@font-face {
  font-family: 'NeoSansS60';
  src: url('../fonts/NeoSansS60.eot?#iefix') format('embedded-opentype'),  url('../fonts/NeoSansS60.woff') format('woff'), url('../fonts/NeoSansS60.ttf')  format('truetype'), url('../fonts/NeoSansS60.svg#NeoSansS60') format('svg');
  font-weight: normal;
  font-style: normal;
}