{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
	<title>{{block.super}} / {{title}} </title>
{% endblock %}

{% block center %}
		<div id="center">

	<div class="text wr-canvas">
		<h1>Помощь</h1>
		
		<h2>Как заказать радиодетали</h2>
<p>Заказать радиодетали в нашем магазине очень просто.</p>
<ol>
<li>Вы вносите все позиции в корзину и оформляете заказ</li>
<li>Мы связываемся с вами и уточняем наличие и кол-во электронных компонентов из вашего заказа</li>
<li>После окончательного&nbsp;формирования&nbsp;заказа мы выставляем вам счет на оплату.</li>
</ol>
<p>Изменения в заказе возможны до момента его отправки.</p>
<h2>Как оплатить</h2>
<p>Возможна оплата через систему Яндекс Деньги, QIWI и прочее.<br>В любом случае мы постараемся предоставить вам возможность оплатить заказ удобным вам способом.</p>
<h2>Платежные реквизиты</h2>
<p>ИП Егоров Алексей<br>ОГРН 000000000000000<br>ИНН 000000000000 <br>Расчетный счет: 00000000000000000000<br>Банк: ОАО "Сбербанк России"<br>БИК: 000000000<br>Kорр. счет: 00000000000000000000</p>
<h2>Договор оферта</h2>
<p>С текстом договора-оферты вы можете ознакомитсья по <a href="#">ссылке</a></p>	</div>

		</div>
{% endblock %}